* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
  --dark-border: #FFC632;
  --light-border: #108600;
}

a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  font-weight: 600;
}

a:visited{
  text-decoration: none;
}

body {
    --text-light: #f1f1f1;

    --bg-dark: #292929;
    --border-color: #FFC632;

    background-color: var(--bg-dark);
    font-family: 'Montserrat', sans-serif;
}

.light {
  --text-light: #111;

  --bg-dark: #f1f1f1;
  --border-color: #00b4d8;
}

.theme-switcher {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.profile {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  gap: 8px;
}

.profile p {
  font-weight: 600;
}

.profile p:hover {
  transform: scale(1.08);
  transition: transform .3s;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid var(--border-color);
  padding: 3px;
}

.profile img:hover {
  transform: scale(1.05);
  transition: transform .3s;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-left: 0;
}

.links li {
  display: flex;
  list-style: none;
  border: 3px solid var(--border-color);
  width: 300px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  color: var(--text-light);
  font-weight: 600;
}

.links li:hover {
  transform: scale(1.05);
  transition: transform .3s;
}

.social-media {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.social-media ul {
  list-style: none;
  display: flex;
  gap: 14px
}

.social-media ul li img {
  height: 32px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  background-image: url(./assets/moon.svg);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;    
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}  

input:checked + .slider {
  background-color: #000;
  background-image: url(./assets/sun.svg);
  background-repeat: no-repeat;
  background-position: left;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

.social-media li:hover {
  transform: scale(1.15);
  transition: transform .3s;
}

.profile img {
  animation: fromTop .7s .3s backwards;
}

.profile p {
  animation: fromBack 1.6s .3s backwards;
}

.links {
  animation: fromSide .7s .3s backwards;
}

.links ul li:nth-child(1) {
  animation: fromSide .7s .3s backwards;
  animation-delay: .0s;
}

.links ul li:nth-child(2) {
  animation: fromSide .7s .3s backwards;
  animation-delay: .15s;
}

.links ul li:nth-child(3) {
  animation: fromSide .7s .3s backwards;
  animation-delay: .3s;
}

.links ul li:nth-child(4) {
  animation: fromSide .7s .3s backwards;
  animation-delay: .45s;
}

.social-media {
  animation: fromBottom .7s .3s backwards;
}

/* ANIMATIONS */ 

@keyframes fromTop {
  from {
      opacity: 0;
      transform: translateY(-30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fromBack {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fromSide {
  from {
      opacity: 0;
      transform: translateX(-30px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
